<foosball-header [title]="'Players'">
    <button mat-raised-button color="accent" [routerLink]="['/new-game']">New game</button>
</foosball-header>
<div class="container-fluid content-spacer">
    <div class="row">
        <div [@enterAnimation] class="col-12 col-sm-6 col-md-3 player-card-container" *ngFor="let player of players | async" [routerLink]="['/player-details', player.id]">
            <mat-card class="player-card">
                <mat-card-header>
                    <mat-card-title>{{ player.name }}</mat-card-title>
                    <mat-card-subtitle>Level: {{ player.level }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ player.photo }}">
            </mat-card>

        </div>
    </div>
</div>
